@using FrontToBack.Areas.AdminArea.ViewModels
@model UserRoleVM

<h4 class="card-title">@Model.AppUser.FullName</h4>

<p class="card-description">

    @foreach (var item in Model.Roles)
     {
        <p>
          @item
        </p>
     }
    </p>
