
@{
    ViewData["Title"] = "Remove";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <p>Success is deleted</p>

        </div>

        <div class="col-6">
            <a asp-controller="Category" asp-action="Index" class="btn btn-warning" style="color:white">Go Back</a>
        </div>
    </div>
</div>



